
.positions{
    margin: 20%;
    padding: 5px;
    background: #54a800;
    color:white;
    cursor: pointer;
    border: none;
}

td a{
    text-decoration: none;
    color:white;

}
.delete{
    margin: 20%;
    padding: 5px;
    background: red;
    color:white;
    cursor: pointer;
    border: none;
}
